*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #182132;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}  

header{
    background-color: #202A3D;
    padding:2rem;
}

.cab{
    display: flex;
    justify-content: space-between;
    align-self:center;
}

.pesq{
    display: flex;
    height: 40px;
    width: 220px;
    gap: 0.5rem;

}

.pesq button{
    background: none;
    border: none;
}

.pesq button:hover{
    cursor: pointer;
}

.pesq input{
    border-radius: 12px;
    border: none;
    background-color: #2E3F5E;
    padding: 1rem;
    color: #bcbcbc;
}

.pesq input:focus{
    outline: none;
    color:white;
}

#but button{
    color: white;
    background:none ;
    border: none;
    

}

#but button a{
    color: white;
    text-decoration: none;
    font-size: 34px;
}

#but button a:hover{
   cursor: pointer;
}

main{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    padding: 2.5rem 6rem;
}

.fot{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 454px;
    height: 304px;
}

.rec{
    background-color: #202D40;
    padding: 2rem;
    width: 412px;
    height: 667px;
    border-radius: 16px;
    gap: 1rem;
}

.img{
 display: flex;
 justify-content: center;
 align-items: center;
}

