*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #182132;
    color: #e0e6ed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 900px;
    background-color: #202D40;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
a{
    text-decoration: none;
    color: #ffffff;
}


.logo {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: #90cdf4;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.main-content {
    padding: 0 20px;
}

.step-indicator {
    font-size: 16px;
    color: #cbd5e0;
    margin-bottom: 10px;
}

.question-title {
    font-size: 28px;
    font-weight: bold;
    color: #e2e8f0;
    margin-bottom: 30px;
}

.options-container {
    margin-bottom: 40px;
}

.option-card {
    background-color: #2d3748;
    border-radius: 10px;
    padding: 18px 25px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.option-card:hover {
    background-color: #4a5568;
}

.option-card p {
    margin: 0;
    font-size: 18px;
    color: #edf2f7;
}
.foradocard{
    display: flex;
    gap: 2rem;
    padding: 0.5rem 0 0 0;
}

.dica{
    padding: 0 0 0 0.2rem;
}
.titulo-dica{
    font-weight: bold;
    font-size: 0.8rem;
}
.dica-dica{
    background-color: #273346;
    padding: 0.5rem;
    border-radius: 1rem;
    color: #87BEFF;
    margin: 0.5rem 0;
    font-size: 0.9rem;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #ffffff;
}
.botao1{
    background-color: #182132;
    color: #ffffff;
    border: 0.8rem solid #182132;
    border-radius: 2rem;
    padding: 0 0.8rem 0 0.8rem;
    font-size: 0.9rem;
}
.botao1:hover{
    background-color: #1b2537;
    border: 0.8rem solid #1b2537;
}
.botao2{
    color: #ffffff;
    border: 0.8rem solid #202D40;
    border-radius: 2rem;
    padding: 0 0.8rem 0 0.8rem;
    font-size: 0.9rem;
}
.botao2:hover{
    background-color: #1b2537;
    border: 0.8rem solid #1b2537;
}