*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(img/fundodesktopp.png);
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;
}

h1{
    font-weight: extr;
    color: #ffffff;
    font-family: "Inter", sans-serif;
}